name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install dependencies
        run: npm install
      - name: Set AWS credential
        uses: aws-actions/conn
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESSS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESSS_KEY}}
          aws-region: eu-west-1
      - name: Copy files to S3
        run: aws s3 sync ./src/. s3://${{secrets.ASW_S3_BUCKET_NAME}}
